{{#bs-form model=model.client novalidate=true onSubmit=(action "submit" model.client) as |form|}}
  <div class="form-row">
    <div class="col-md-6 mb-2">
      {{form.element controlType="text" id="firstName" autocomplete="given-name" placeholder="First Name" property="firstName" required=true}}
    </div>
    <div class="col-md-6 mb-2">
      {{form.element controlType="text" id="lastName" autocomplete="family-name" placeholder="Last Name" property="lastName" required=true}}
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-6 mb-2">
      {{form.element controlType="email" id="email" autocomplete="email" placeholder="Email" property="email" required=true}}
    </div>
    <div class="col-md-6 mb-2">
      {{form.element controlType="phone" id="phone" autocomplete="tel tel-national" placeholder="Phone Number" property="phone" required=true}}
    </div>
  </div>

  <div class="form-row">
    <div class="col-md-6 mb-2">
      {{form.element controlType="text" id="street1" autocomplete="street-address" placeholder="Street Address" property="street1" required=true}}
    </div>
    <div class="col-md-6 mb-2">
      {{form.element controlType="text" id="street2" autocomplete="" placeholder="Street Address 2" property="street2" required=true}}
    </div>
    <div class="col-md-6 mb-2">
      {{form.element controlType="text" id="city" autocomplete="address-level2" placeholder="City" property="city" required=true}}
    </div>
    <div class="col-md-6 mb-2">
      {{form.element controlType="text" id="zip" autocomplete="postal-code" placeholder="Postal Code" property="zipCode" required=true}}
    </div>
  </div>
    
  <div class="form-row">
    <div class="col-md-6 mb-4">
      {{#power-select searchField="name" placeholder="Choose Country" selected=selectedCountry options=model.countries onchange=(action "selectCountry") as |country|}}
        {{country.name}}
      {{/power-select}}
    </div>
    <div class="col-md-6 mb-4">
      {{#if states}}
        {{#power-select searchField="name" placeholder="Choose State" selected=selectedState options=states onchange=(action "selectState") as |state|}}
          {{state.name}}
        {{/power-select}}
      {{/if}}
    </div>
  </div>

  {{#unless error}}
    {{#if pending}}
      <div class="alert alert-primary" role="alert">Submitting Information</div>
      <div class="row justify-content-center">
        <div class="col-auto">
          <img src="https://s3.amazonaws.com/shared-charuwts/images/spinner.gif" style="display:inline-block;">
        </div>
      </div><br clear="all">
    {{else}}
      {{#if failure}}
        <div class="alert alert-danger" role="alert">Sorry, there was an error with your request.</div>
        {{#if errors}}
          {{#bs-form class="container-fluid" model=model.client novalidate=true as |form|}}
            <div class="row">
              {{#each-in errors as |key value|}}
                <div class="col-6">
                  {{#if (is-value key 'username')}}
                    <span style="text-transform:capitalize;">email</span> - {{value}}
                    {{form.element controlType="email" id="email" autocomplete="email" placeholder="Email" property="email" required=true}}
                  {{else}}
                    <span style="text-transform:capitalize;">{{key}}</span> - {{value}}
                    {{form.element placeholder=key property=key required=true}}
                  {{/if}}
                </div>
              {{/each-in}}
            </div>
          {{/bs-form}}
        {{/if}}

      {{/if}}
    {{/if}}
  {{/unless}}


  <div class="row">
    <div class="col text-center">
      {{#if processing}}
        <div class="btn btn-dark disabled" id="proceed"><span>Processing</span></div>
      {{else if (v-get model.client 'isInvalid')}}
        <div class="btn btn-dark disabled" id="proceed"><span>Provide Info</span></div>
      {{else}}
        <button class="btn btn-secondary" id="proceed" type="submit"><span>Signup</span></button>
      {{/if}}
    </div>
  </div>
{{/bs-form}}